<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Juicebox Lite Gallery"
>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank">
	<title>SAQYGEE</title>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank">
      <title>Billy Jeans</title>
</image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank">
    <title>Akbar Johnny's</title>
    
  </image>

</juiceboxgallery>